<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

  <!-- Core Style CSS -->
  <link rel="stylesheet" href="static/core-style.css">
  <link rel="stylesheet" href="static/style.css">
  <title>About Us</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="static/assets/css/fontawesome.css">
  <link rel="stylesheet" href="static/assets/css/templatemo-sixteen.css">
  <link rel="stylesheet" href="static/assets/css/owl.css">

</head>

<body>
  <!-- Page Content -->
  <div class="page-heading about-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>E-Mart</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Background</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="static/assets/images/feature-image.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Who we are &amp; What we do?</h4>
            <p>
              Our process of selling goods and services over the internet. Customers come to the website or
              online marketplace and purchase products using electronic payments.
              <br>
              Our process of selling goods and services over the internet. Customers come to the website or
              online marketplace and purchase products using electronic payments.
              <br>
              Upon receiving the money, the merchant ships the goods or provides the service.
            </p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-tasks"></i>
            </div>
            <div class="down-content">
              <h4>Product Management</h4>
              <p>Our Product Management can be described as an organizational function that involves the process of
                conceiving in the market.</p>
              <a href="#" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-gear"></i>
            </div>
            <div class="down-content">
              <h4>Customer Relations</h4>
              <p>Out bussiness assistance to customers with everything from making online purchase decisions to
                resolving issues .</p>
              <a href="#" class="filled-button">Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <div class="icon">
              <i class="fa fa-globe"></i>
            </div>
            <div class="down-content">
              <h4>Global Collection</h4>
              <p>Our Company offers end-to-end cross-border platform which connects shoppers and brands to make
                international transactions.</p>
              <a href="#" class="filled-button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ****** Footer Area Start ****** -->
  <footer class="footer_area">
    <div class="container">
      <div class="row">
        <!-- Single Footer Area Start -->
        <div class="col-12 col-md-6 col-lg-3">
          <div class="single_footer_area">
            <div class="footer-logo">
              <img src="static/img/core-img/logo.png" alt="">
            </div>
          </div>
        </div>
        <!-- Single Footer Area Start -->
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="single_footer_area">
            <ul class="footer_widget_menu">
              <li><a href="#" style="color : red;">About</a></li>
              <li><a href="#" style="color : red;">Blog</a></li>
              <li><a href="#" style="color : red;">Faq</a></li>
              <li><a href="#" style="color : red;">Returns</a></li>
              <li><a href="#" style="color : red;">Contact</a></li>
            </ul>
          </div>
        </div>
        <!-- Single Footer Area Start -->
        <div class="col-12 col-sm-6 col-md-3 col-lg-2">
          <div class="single_footer_area">
            <ul class="footer_widget_menu">
              <li><a href="#" style="color : red;">My Account</a></li>
              <li><a href="#" style="color : red;">Shipping</a></li>
              <li><a href="#" style="color : red;">Our Policies</a></li>
              <li><a href="#" style="color : red;">Afiliates</a></li>
            </ul>
          </div>
        </div>
        <!-- Single Footer Area Start -->
        <div class="col-12 col-lg-5">
          <div class="single_footer_area">
            <div class="footer_heading mb-30">
              <h6>Subscribe to our newsletter</h6>
            </div>
            <div class="subscribtion_form">
              <form action="#" method="post">
                <input type="email" name="mail" class="mail" placeholder="Your email here">
                <button type="submit" class="submit">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>

      <!-- Footer Bottom Area Start -->
      <div class="footer_bottom_area">
        <div class="row">
          <div class="col-12">
            <div class="footer_social_area text-center">
              <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ****** Footer Area End ****** -->

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="static/assets/js/custom.js"></script>
  <script src="static/assets/js/owl.js"></script>
  <script src="static/assets/js/slick.js"></script>
  <script src="static/assets/js/isotope.js"></script>
  <script src="static/assets/js/accordions.js"></script>


  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>


</body>

</html>