<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Products</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="static/style1.css">

</head>
<body>

    <input type="checkbox" id="sidebar-toggle">
    <div class="sidebar">
        <div class="sidebar-header">
            <h3 class="brand">
                <span class="ti-unlink"></span>
                <span>Admin</span>
            </h3>
            <label for="sidebar-toggle" class="ti-menu-alt"></label>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/admin">
                        <span class="ti-home"></span>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/adminusers">
                        <span class="ti-user"></span>
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="/adminseller">
                        <span class="ti-dashboard"></span>
                        <span>Sellers</span>
                    </a>
                </li>
                <li>
                    <a href="/adminproducts">
                        <span class="ti-shopping-cart"></span>
                        <span>Producs</span>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="ti-power-off"></span>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
    
    <div class="main-content">
        <main>
            <h2 class="dash-title">Products</h2>
            <section class="recent">
                <div class="activity-grid">
                    <div class="activity-card">                        
                        
                        <div class="table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Seller ID</th>
                                        <th>Seller Name</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12</td>
                                        <td>Huzaifa</td>
                                        <td>huzaifayaseen0gmail.com</td>
                                        <td>12</td>
                                        <td>$23</td>                                        
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        
    </div>
    
</body>
</html>