<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Your Cart</title>

    <!-- Favicon  -->
    <link rel="icon" href="static/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="static/css/core-style.css">
    <link rel="stylesheet" href="static/style.css">

    <!-- Responsive CSS -->
    <link href="static/css/responsive.css" rel="stylesheet">

</head>

<body onload="subTotal()">
    <body>


    <div id="wrapper">

        <!-- ****** Header Area Start ****** -->
        <header class="header_area">
            <!-- Top Header Area Start -->
            <div class="top_header_area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-end">

                        <div class="col-12 col-lg-7">
                            <div class="top_single_area d-flex align-items-center">
                                <!-- Logo Area -->
                                <div class="top_logo">
                                    <a href="#"><img src="static/img/core-img/logo.png" alt=""></a>
                                </div>
                                <!-- Cart & Menu Area -->

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Top Header Area End -->
            <div class="main_header_area">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 d-md-flex justify-content-between">
                            <!-- Header Social Area -->
                            <div class="header-social-area">
                                <a href="#"><span class="karl-level">Share</span> <i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <!-- Menu Area -->
                            <div class="main-menu-area">
                                <nav class="navbar navbar-expand-lg align-items-start">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#karl-navbar" aria-controls="karl-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>

                                    <div class="collapse navbar-collapse align-items-start collapse" id="karl-navbar">
                                        <ul class="navbar-nav animated" id="nav">
                                            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                            <li class="nav-item active"><a class="nav-link" href="/aboutUs">About Us</a></li>
                                            <li class="nav-item active"><a class="nav-link" href="/cart">Cart</a></li>


                                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Help Line -->
                            <div class="help-line">
                                <a href="https://api.whatsapp.com/send/?phone=%2B923077671304&text&app_absent=0" target="_blank"><i class="fa fa-whatsapp"></i> +92 307 7671304</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ****** Header Area End ****** -->

        <!-- ****** Top Discount Area Start ****** -->
        <section class="top-discount-area d-md-flex align-items-center">
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>Free Shipping &amp; Returns</h5>
                <h6><a href="#">BUY NOW</a></h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>20% Discount for all dresses</h5>
                <h6>USE CODE: Colorlib</h6>
            </div>
            <!-- Single Discount Area -->
            <div class="single-discount-area">
                <h5>20% Discount for students</h5>
                <h6>USE CODE: Colorlib</h6>
            </div>
        </section>
        <!-- ****** Top Discount Area End ****** -->

        <!-- ****** Cart Area Start ****** -->
        <div class="cart_area section_padding_100 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for x in data %}
                                    <tr>
                                        <td class="cart_product_img d-flex align-items-center">
                                            <a href="#"><img src="static/upload/products/{{ x['product']['image'] }}" alt="Product"></a>
                                            <h6>{{ x['product']['name'] }}</h6>
                                        </td>
                                        <td class="price"><span>Rs.{{ x['product'].price }}</span></td>
                                        <td class="qty">
                                            <div class="quantity">
                                                <span class="qty-minus" onclick="var effect = document.getElementById({{ x['cart']['cart_id'] }});var qty = effect.value;if( !isNaN( {{ x['cart']['cart_id'] }} ) &amp;&amp; {{ x['cart']['cart_id'] }} &gt; 1 ) effect.value--;document.getElementById({{ x['cart']['cart_id'] }}+'p').innerText={{ x['product'].price }}*effect.value;subTotal();return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                <input type="number" class="qty-text" id="{{ x['cart']['cart_id'] }}" step="1" min="1" max="99" name="quantity" value="{{ x['cart']['quantity'] }}">

                                                <span class="qty-plus" onclick="var effect = document.getElementById({{ x['cart']['cart_id'] }}); var qty = effect.value; if( !isNaN( {{ x['cart']['cart_id'] }} )) effect.value++;document.getElementById({{ x['cart']['cart_id'] }}+'p').innerText={{ x['product'].price }}*effect.value;subTotal();return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                            </div>
                                        </td>
                                        <td class="total_price" ><span id="{{ x['cart']['cart_id'] }}p">{{ x['product'].price*x['cart'].quantity }}</span></td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
<!-- updated the cart function javaScript-->
                    <script>
                        function updateCart(){
                            var updated=[];
                            {% for x in data %}
                                var newQuantity=document.getElementById({{ x['cart']['cart_id'] }}).value;
                                var oldQuantity={{ x['cart']['quantity'] }};
                                if (oldQuantity!=newQuantity){
                                    updated.push({'cart_id':{{ x['cart'].cart_id}}, 'quantity':newQuantity })
                                }
                            {% endfor %}
                        if (updated.length>0){
                            $.ajax({
                                type:"POST",
                                contentType:"application/json;charset=utf-8",
                                url:"/updateCart",
                                data:JSON.stringify(updated),
                                success:function (){
                                   console.log("Changed Successfully");
                            },
                                dataType:"json"
                            });

                            return window.alert('Cart Has been Updated');
                        }
                        else{
                            return window.alert('Nothing Changed By you!!');
                        }
                        }

                        function subTotal(){
                            var subtotal=0;
                            var shipment=0;
                            var total=0;
                            {% for x in data %}
                                var quantity=document.getElementById({{ x['cart']['cart_id'] }}).value;
                                var price={{ x['product']['price'] }};
                                subtotal=subtotal+(price*quantity);
                                shipment=shipment+{{ x['product']['deliver'] }};
                            {% endfor %}
                            console.log(subtotal);
                            total=subtotal+shipment;
                            document.getElementById("subtotal").textContent="Rs."+subtotal;
                            document.getElementById("shipment").textContent="Rs."+shipment;
                            document.getElementById("total").textContent="Rs."+total;
                            return total;
                        }


                    </script>


                        <div class="cart-footer d-flex mt-30">
                            <div class="back-to-shop w-50">
                                <a href="/">Continue shooping</a>
                            </div>
                            <div class="update-checkout w-50 text-right">
                                <a href="/clearCart">clear cart</a>
                                <a href="/cart" onclick="updateCart()">Update cart</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">

                    </div>
                    <div class="col-12 col-md-6 col-lg-4">

                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-total-area mt-70">
                            <div class="cart-page-heading">
                                <h5>Cart total</h5>
                                <p>Final info</p>
                            </div>

                            <ul class="cart-total-chart">
                                <li><span>Subtotal</span><span id="subtotal"></span></li>
                                <li><span>Shipping</span> <span id="shipment"></span></li>
                                <li><span><strong>Total</strong></span> <span><strong id="total"></strong></span></li>
                            </ul>
                            <a href="/checkout" class="btn karl-checkout-btn">Proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ****** Cart Area End ****** -->

        <!-- ****** Footer Area Start ****** -->
        <footer class="footer_area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="single_footer_area">
                            <div class="footer-logo">
                                <img src="static/img/core-img/logo.png" alt="">
                            </div>
                            <div class="copywrite_text d-flex align-items-center">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                        <div class="single_footer_area">
                            <ul class="footer_widget_menu">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Our Policies</a></li>
                                <li><a href="#">Afiliates</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Footer Area Start -->
                    <div class="col-12 col-lg-5">
                        <div class="single_footer_area">
                            <div class="footer_heading mb-30">
                                <h6>Subscribe to our newsletter</h6>
                            </div>
                            <div class="subscribtion_form">
                                <form action="#" method="post">
                                    <input type="email" name="mail" class="mail" placeholder="Your email here">
                                    <button type="submit" class="submit">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>

                <!-- Footer Bottom Area Start -->
                <div class="footer_bottom_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="footer_social_area text-center">
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ****** Footer Area End ****** -->
    </div>
    <!-- /.wrapper end -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="static/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="static/js/plugins.js"></script>
    <!-- Active js -->
    <script src="static/js/active.js"></script>

</body>

</html>